<%= render "shared/header" %>

<div class="error-container">
  <div class="centered-content">
    <h3 class="">Reservation confirmation error</h3>
    <p class="">An error occurred on the reservation confirmation screen !!</p>
    <%= link_to "Back to main page", root_path, class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %>
  </div>
</div>

<%= render "shared/footer" %>